html
    head
        title iViva
        link(rel="stylesheet" href='/css/bootstrap.css')
        link(rel="stylesheet" href='/css/style.css')
        script(src='js/jquery-3.3.1.min.js')
        link(rel="icon" href="/img/favicon.ico" sizes="16x16")
        block scripts
        block equipment_template_scripts
    body
        nav(class="navbar navbar-light")
            div(class="navbar")
                a(href="./" ,class="navbar-brand")
                    img(src="https://static.iviva.com/images/logo-2.png" ,alt="")
                a(class="nav-item" ,style="font-size: x-large;font-weight: 600;") BIMRT Interface   
            div(class="navbar")
                ul.nav  
                    li.nav-item
                        a.nav-link(href='./configurations' , style="color: #424242;") Configuration
        div.container
            block  content
        br
        footer.container
            p ©  Eutech Cybernetics 2018
        
